@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Preview Bulk Import";
}

<h1>Preview Bulk Import</h1>

<p></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Owner / Restaurant</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            @if(item is Restaurant restaurant){
                <tr>
                    <td>Restaurant</td>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.OwnerEmailAddress</td>
                    <td>@restaurant.Status</td>
                </tr>
            } else if (item is MenuItem menu)
            {
                <tr>
                    <td>Menu Item</td>
                    <td>@menu.Title</td>
                    <td>@menu.Restaurant</td>
                    <td>@menu.Status</td>
                </tr>
            }
        }

    </tbody>


</table>

<div>
    <a asp-action="DownloadImageTemplate" asp-controller="BulkImport" class="btn btn-secondary">
        Download Image Template ZIP
    </a>
</div>

<form asp-action="Commit" asp-controller="BulkImport" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label for="imagesZip" class="form-label">Upload images ZIP</label>
        <input type="file" name="imagesZip" id="imagesZip" class="form-control" accept=".zip" />
    </div>

    <button type="submit" class="btn btn-success">
        Commit to Database
    </button>
</form>